/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway&display=swap');

/* Code begins here */
html,body{
     background: #fcfcfb;
     margin:0 auto;
     font-family: 'Raleway', sans-serif;
     color: #2e2f38;
}

.site-container {
     max-width:1440px;
     width:100%;
     margin:0 auto;
     background: #fcfcfb

}


/* Navigation */

.header-top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     max-width: 1440px;
     width: 100%;
     opacity: 0.97;
     background: #fcfcfb;
     padding-top: 20px;
     padding-bottom: 20px;
     font-size: 1.2rem;
     z-index: 99999;
   }
   .header-logo {
     font-size: 1.7rem;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding-left: 1rem;
     width: 15%;
     height: 38px;
   }
   .logo {
     height: 60px;
     opacity: 0.8;
   }
   nav {
     width: 60%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding-left: 4%;
     padding-right: 4%;
   }


@media screen and (max-width: 500px) {
     nav {
          width:100%;
    }
    nav a {
         display: none;
    }
    .sign-up-btn {
         display: none;
    }
}

nav a{
     display: flex;
     align-items: center;
     justify-content: center;
    
     text-decoration:none;
     color:#5563fa;
     transition: .3s cubic-bezier(0.2,0.8,0.2,1);
}
nav a:hover{
     color:#2e2f38;
     text-decoration: underline;
}

#noUnderline {
     text-decoration:none;
}
#logoAnchor{
     text-decoration:none;
     color:#2e2f38;
}

.sign-up-btn{
     opacity:1;
     font-weight: bold;
     display:flex;
     align-items:center;
     justify-content:center;
     color: #5563fa;
     border:1.3px solid #5563fa;
     background: #fcfcfb;
     font-weight: bold;
     font-size: 1.1rem;
     border-radius: 5px;
     padding:10px 20px;
     transition: .4s cubic-bezier(0.2,0.8,0.2,1);
}
.sign-up-btn:hover{
     opacity:1;
     background-color:#5563fa;
     color:white;
     text-decoration: none;
     box-shadow: 0 10px 20px rgba(0,0 ,0, .25);
     transform: translateY(-3px);
}


/* Dropdown menu */
@media screen and (max-width:6000px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
}
@media screen and (max-width:1440px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
}
@media screen and (max-width:800px){
     .dropdownContainer{
          display:none;
     }
     .dropdown-content a{
          display:none;
     }
}
@media screen and (max-width:500px){
    .header-top nav {
         display:none;
    }
    
     .dropdownContainer{
          display:flex;
     }
.dropbtn {
  background-color:#fcfcfb;
  color: #5563fa;
  padding: 9px 20px;
  font-size: 16px;
  border: 1.3px solid #5563fa;
  border-radius:3px;
  margin-right:2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #2e2f38;
  padding: 13px 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
     color:#fcfcfb;
     background-color: #5563fa;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
     color:#fcfcfb;
  background-color: #5563fa;
}

}


/* Hero */



.hero {
     margin-top:144px;
     display:flex;
     margin-left: 4%;
     margin-right: 4%;
     
}


.hero-text {
     width:40%;
     opacity:0;
     animation: HeroAnimation;
     animation-duration: 1.5s;
     animation-fill-mode:forwards;
     animation-timing-function:cubic-bezier(0.2,0.8,0.2,1)
    
}

.hero-text h1 {
     width:100%;
     font-family: 'Cabin', sans-serif;
     font-weight: 550;
     font-size: 6.5vw;
}

.hero-text p {
     line-height:1.5;
     margin-top:24px;
}
.doctors {
     width: 60%;
  
  }
.cta-btn {
          display:flex;
          align-items:center;
          justify-content:center;
          color: white;
          background:#5563fa;
          font-weight: bold;
          font-size: 1.1rem;
          border:none;
          border-radius: 5px;
          width: 90%;
          height:48px;
          padding:10px 20px;
          margin-top:48px;
          animation-delay: .5s;
          opacity: 0;
          animation: CTAAnimation;
          animation-duration: 1.5s;
          animation-fill-mode:forwards;
          animation-timing-function:cubic-bezier(0.2,0.8,0.2,1);
          transition: .7s cubic-bezier(0.2,0.8,0.2,1);
} 
.cta-btn:hover{
          opacity:1;
          background-color:#97a0fc;
          color:white;
          box-shadow: 0 10px 20px rgba(0,0 ,0, .25);
          transform: translateY(-3px);
          
     }

     
@media screen and (max-width:500px){
     .hero {
          margin-top:80px;
          flex-direction: column;
          
     }
     .hero-text {
          display:flex;
          flex-direction:column;
          justify-content:center;
          width:100%;
     }
     .hero-text h1 {
          font-size: 10vw;
     } 
     .cta-btn {
          width:100%;
          height:48px;
        
       }

     .doctors {
          margin-top:16px;
          width:100%;
     }
}


/* animations */

@keyframes HeroAnimation {
     0% {
          opacity: 0;
          transform: translateY(20px);
     }

     100%{
          opacity: 1;
          transform: translateY(0px);
     }
}

@keyframes CTAAnimation {
     0% {
          opacity: 0;
          transform: translateY(30px);
     }

     100%{
          opacity: 1;
          transform: translateY(0px);
     }
}


/* Testimonials */

.testimonies {
     display:flex;
     flex-wrap:wrap;
     justify-content:space-around;
     margin:40px 0;
     padding:20px 0;
}

.testimony{
     background: #fffaf0;
     width:27%;
     border-radius:3px;
     display:flex;
     flex-wrap:wrap;
     flex-direction:column;
     justify-content:space-around;
     padding:20px;
     align-items:center;
     box-shadow: 0 1px 20px rgba(0,0 ,0, .1);
    
     
 
}
.testimonyTitle{
     margin-top:104px;
     display:flex;
     margin-left:5%;
     font-size:2.3rem;
     color:#2e2f38;
}
.stats {
     margin-top:.5rem;
     color:#2e2f38;
     font-size:1rem;
     height:2.75rem;
     line-height:1.5;
     padding-bottom:8px;
     border-bottom: 1px dashed #0F1557;
}
.quotes{
     color:#2e2f38;
     font-size: 1.5rem;
     font-weight:bold;
     font-style: italic;
     line-height:1.5;
     text-align:center;
     margin:20px 0;
}

.names {
     color: #2e2f38;
     font-weight: 500;
     margin-top:24px;
     
}

.oval-landscape{
     width:100px;
     height:100px;
     overflow:hidden;
     border-radius:50%;
}
.oval1{
     width:auto;
     height:140%;
     margin-left:-50px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.oval2{
     width:auto;
     height:130%;
     margin-left:-70px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.oval3{
     width:auto;
     height:130%;
     margin-left:-20px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

@media screen and (max-width:800px){
     .testimony{
          width:100%;
          margin-right:4%;
          margin-left: 4%;
          flex-direction:row;
          margin-bottom:2rem;
     
     }
}

@media screen and (max-width:500px){
     .testimony{
          flex-direction:column;
     }
}


/* Partnerships and certificationss */
.industry-partners{
     width:100%;
     height:300px;
     margin:80px 0;
     background-color: #ffffff;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,592,451)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23e3e4e8'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
/* background-attachment: fixed; */
     background-size: cover;
     display:flex;
     flex-wrap:wrap;
     align-items:center;
     justify-content:space-evenly;
}
.partnerships{
     display:flex;
     width:100%;
     justify-content:space-around;
}
.medical-logo{
     height:100px;
}
@media screen and (max-width:800px){
     .partnerships{
          justify-content:space-around;
     }
     .medical-logo{
          height:80px;
     }
}
@media screen and (max-width:500px){
     .medical-logo{
          height:70px;
     }
}





/* Product Features */
.product-applications{
     width:100%;
     text-align:center;
}
.product-applications h2{
     display:flex;
     font-size:2.3rem;
     margin-top:7rem;
     margin-bottom:2rem;
     margin-left:5%;
     color:#2e2f38;
}
.products{
     display:flex;
     justify-content:space-between;
     
}
.productColumn{
     width:30%;
     display:flex;
     flex-direction:column;
     /* justify-content:space-between; */
     align-items:center;
}
.productColumn p{
     margin-top:2rem;
     width:90%;
     line-height:1.5;
     text-align:left;
}
.product{
     width:90%;
     /* margin-bottom:25px; */
     height:300px;
}
@media screen and (max-width:800px){
     .products{
          flex-wrap:wrap;
          justify-content:center;
     }
     .productColumn{
          justify-content:center;
          flex-wrap:wrap;
          width:45%;
          margin-bottom:4rem;
     }
}
@media screen and (max-width:500px){
     .product-applications h2{
          margin-left:0%;
     }
     .products{
          flex-direction:column;
          align-items:center;
     }
     .productColumn{
          width:80%;
     }
}





/* footer */
.footer{
     margin-top:10rem;
     height:80px;
     display:flex;
     justify-content:center;
}
.footercontent{
     display:flex;
     width:60%;
     justify-content:space-evenly;
}
.footer a{
     text-decoration:none;
     color:#2e2f38;
     font-size:.8rem;
}
.footer a:hover{
     
     text-decoration:underline;
}